:root {
    /* default = light theme */
    --bg-gradient: linear-gradient(180deg, #f8fafc, #eef2f7);

    --card-bg: #ffffff;
    --card-secondary: #f1f5f9;
    --card-third: #ffffff;

    --text-main: #111827;
    --text-muted: #6b7280;

    --accent: #6366f1;
    --accent-soft: #818cf8;

    --border: rgba(0,0,0,0.05);

    --hover-bg: #e5e7eb;

    --shadow-sm: 0 2px 6px rgba(0,0,0,0.05);
    --shadow-md: 0 6px 16px rgba(0,0,0,0.08);
}

/* DARK MODE OVERRIDES */
html.dark {
    --bg-gradient: linear-gradient(180deg, #0b1120, #0f172a);

    --card-bg: #111827;
    --card-secondary: #1e293b;
    --card-third: #1e293b;

    --text-main: #e5e7eb;
    --text-muted: #94a3b8;

    --accent: #6366f1;
    --accent-soft: #818cf8;

    --border: rgba(148,163,184,0.1);

    --hover-bg: #1e293b;

    --shadow-sm: 0 4px 10px rgba(0,0,0,0.4);
    --shadow-md: 0 6px 25px rgba(0,0,0,0.6);
}